<% provide(:title, @user.name) %>
<div class="row">
            <h3 class="center">Available Rooms</h3>
    <div class="flexbox">
    <%= render  Room.all %>
</div>
<br>
<br>
<h3 class="center" style="margin-top:5%;">Current Meetings</h3>

  <div class="row">
    <%= render @user.urecord %>

</div>

        <br>

</div>
