<div class="outer-box col-sm-3 center card" style="margin-bottom:10px">

  <br>
<h3><%=room.name %></h3>

 <div>
  <%= link_to "Open Room", room , class:"btn btn-sm btn-warning" %>
   </div>
   <br>
   <br>
  </div>
