<% provide(:title, @room.name) %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <section class="user_info">
      <h1> <%= @room.name %> </h1>
    </section>
    <h2>Capacity:<%= @room.capacity%></h2>

      <h3 class="center"> Current Slots </h3>
      <br>
      <br>
      <div class="row">
      <%= render @room.slot %>
      </div>
      <div>

      <br>
      <br>
      <br>
      <h3 class="center">Add a Slot</h3>

      <%= render 'slots/form' %>

</div>
</div>
