@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

.sidebar{
  position: fixed;
  height: 100%;
  margin-top:-1%;
  width: 18%;
  background-color: #d7d6d6;
}
body {
  background-color: #fafafa;
  overflow-x: hidden;
  padding-left:0 !important;
  padding-top: 60px;
  width: 100% !important;
}
.display{
    background-color: #fafafa;
    float: right !important;
    width:82% !important;
    }
    .bodcon
    {
      width: 100%;
      min-height: 100%;
      height: auto;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 3%;
    }
.btn{
  font-weight: bolder;
  text-shadow: 0px 0px 1px #000;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
.card{
  background-color:#fff;
  box-shadow: 1px 1px 5px #000;
  margin: 2%;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.flexbox{
  display: flex;
  justify-content: center;

}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}

#error_explanation {

  ul {
    color: #000;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
display: block !important;
background-color:  #fff !important;
.form-control{
  border: 2px solid red !important;
}
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
